---
import Container from "@/components/Container.astro";
import { Image } from '@astrojs/image/components';
import Card from '@/assets/images/gift-card.jpg';
import ContentBlock from "@/components/ContentBlock.astro";
import SplitContent from "@/components/SplitContent.astro";
---

<section class="section bg-neutral-800 text-neutral-200 pt-16 md:pt-0 relative z-30">
  <Container class="space-y-16">
    <ContentBlock>
      <h1 class="heading heading-2xl js-scroll-reveal">Gift Cards</h1>
    </ContentBlock>
    <SplitContent leftClass="items-center justify-center flex js-scroll-reveal">
      <Fragment slot="left">
        <p class="max-w-prose">
          Give the gift of Oishii to your friends and family. Gift cards are available in any denomination and can be purchased in-store or by phone. We can mail the gift card to you or directly to the recipient.
        </p>
      </Fragment>
      <Fragment slot="right">
          <Image src={Card} width={800} alt="Gift Card" class="rounded-xl js-scroll-reveal" />
      </Fragment>
    </SplitContent>

    
  </Container>
</section>