---
import Container from "@/components/Container.astro";

---

<section class="section bg-neutral-100">
  <Container class="space-y-16">
    <h1 class="heading heading-2xl text-center">Japanese Cuisine in Beaumont</h1>

    <div class="grid grid-cols-12 xl:gap-16">
      <div class="col-span-12 xl:col-span-6">
        <div class="aspect-video border-[10px] border-white bg-neutral-700">
          <img src="/images/hero.jpg" alt="hero image" class="aspect-ratio--object" />
        </div>
      </div>
      <div class="col-span-12 xl:col-span-6 justify-center flex flex-col space-y-8 py-16 px-16 xl:px-0">
        <p class="max-w-prose">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut praesentium sint quam quas, accusamus quia vitae atque! Placeat, eaque maxime architecto minus quidem, laborum eum at totam fugit similique perferendis?</p>
        <p class="max-w-prose">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut praesentium sint quam quas, accusamus quia vitae atque! Placeat, eaque maxime architecto minus quidem, laborum eum at totam fugit similique perferendis?</p>
      </div>
      <div class="col-span-6 md:col-span-3">
        <div class="aspect-square border-[10px] border-white bg-neutral-700">
          <img src="/images/hero.jpg" alt="hero image" class="aspect-ratio--object" />
        </div>
      </div>
      <div class="col-span-6 md:col-span-3">
        <div class="aspect-square border-[10px] border-white bg-neutral-700">
          <img src="/images/hero.jpg" alt="hero image" class="aspect-ratio--object" />
        </div>
      </div>
      <div class="col-span-6 md:col-span-3">
        <div class="aspect-square border-[10px] border-white bg-neutral-700">
          <img src="/images/hero.jpg" alt="hero image" class="aspect-ratio--object" />
        </div>
      </div>
      <div class="col-span-6 md:col-span-3">
        <div class="aspect-square border-[10px] border-white bg-neutral-700">
          <img src="/images/hero.jpg" alt="hero image" class="aspect-ratio--object" />
        </div>
      </div>
    </div>
    
  </Container>
</section>