---
import Container from "@/components/Container.astro";
import { Image } from '@astrojs/image/components';
import Shoyu from '@/assets/images/ramen-shoyu.webp'
import Chicken from '@/assets/images/ramen-chicken.webp'
import Seafood from '@/assets/images/ramen-seafood.webp'
import { Icon } from "astro-icon";

type RamenItem = {
  name: string;
  image: ImageMetadata;
}

const ramenItems: RamenItem[] = [
  {
    name: 'Shoyu',
    image: Shoyu,
  },
  {
    name: 'Chicken',
    image: Chicken,
  },
  {
    name: 'Seafood',
    image: Seafood,
  },
]

export const ramenColor = '#ffebb3'
---

<section class={`section py-16 relative z-20 js-ramen-section`} style={{backgroundColor: ramenColor}}>
  <div class="bg-gradient-to-b from-neutral-100 -from-50% to-transparent w-full top-0 h-[50vh] flex items-end justify-center absolute z-10">
    <Icon name="ion:chevron-down" class="w-[80px] animate-bounce lg:mb-16 opacity-0" id="scroll-cta"/>
  </div>
  <Container class="space-y-16 relative z-20" >
    <h1 class="heading heading-2xl text-center text-red-700">Now Serving Ramen</h1>
      <div class="flex flex-col md:flex-row justify-around items-center text-center space-y-8 md:space-y-0">
        {ramenItems.map((r) => (
          <div class="text-center w-2/3 md:w-1/4 space-y-4 js-ramen-item opacity-0">
            <div class="rounded-full border-[10px] bg-black w-[100%] aspect-square shadow-lg border-white">
              <Image src={r.image} alt={r.name} class="rounded-full" width={400} height={400} quality={50} format="webp" />
            </div>
            <div class="">
              <span class="heading heading-xl uppercase text-neutral-700">{r.name}</span>
            </div>
          </div>
        ))}
      </div>
  </Container>
</section>


<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.fromTo('.js-ramen-item', {
    opacity: 0,
    y: 50
  }, {
    opacity: 1,
    y: 0,
    stagger: 0.1,
    ease: 'ease.out',
    scrollTrigger: {
      trigger: '.js-ramen-section',
      start: 'top 80%',
      end: 'top 20%',
      scrub: 1,
      once: true,
    }
  })


</script>