---
import Desktop from "./nav/Desktop.astro";
import Container from "./Container.astro";
import Mobile from "./nav/Mobile.astro";
import { routes } from "routes";

type Props = {
  leftClass?: string;
  rightClass?: string;
  gridClass?: string;
}

const { leftClass, rightClass, gridClass } = Astro.props

export const HEADER_MIN_HEIGHT = 60;
---

<header class={`fixed z-30 w-full transition-colors duration-500 bg-gray-900 items-center`} style={{minHeight: `${HEADER_MIN_HEIGHT}px` }} id="header">
  <div class="py-2 text-white relative w-full z-30" >
    <Container class="flex flex-col relative items-center">
      <div class="flex justify-between items-center w-full">
        <a href={routes.home} class="text-red-500">LOGO</a>
        <Desktop />
      </div>
    </Container>
  </div>
</header>
<div class="flex justify-end nav-desktop:hidden px-6 py-4 right-0 top-1 text-white fixed z-50">
  <Mobile />
</div>
