---
import { config } from "config";
import Container from "./Container.astro";
import Desktop from "./nav/Desktop.astro";
import Mobile from "./nav/Mobile.astro";
---

<header class="py-4 bg-black text-white fixed w-full z-30">
  <Container class="flex flex-col relative items-center">
    <div class="flex justify-between items-center w-full">
      <h1 class="heading text-primary uppercase">{config.name}</h1>
      <Desktop />
      <Mobile />
    </div>
  </Container>
</header>