---
import Desktop from "./nav/Desktop.astro";
import Container from "./Container.astro";
import Mobile from "./nav/Mobile.astro";
import { routes } from "routes";

type Props = {
  leftClass?: string;
  rightClass?: string;
  gridClass?: string;
}

const { leftClass, rightClass, gridClass } = Astro.props

export const HEADER_MIN_HEIGHT = 45;
---

<header class={`fixed z-50 w-full transition-colors duration-500 bg-gray-900 items-center flex flex-col justify-center`} style={{minHeight: `${HEADER_MIN_HEIGHT}px` }} id="header">
  <div class="py-2 text-white relative w-full z-30" >
    <Container class="flex flex-col relative items-center">
      <div class="flex justify-between items-center w-full">
        <a href={routes.home} class="text-red-500">SUSHI</a>
        <nav class="hidden nav-desktop:flex">
          <Desktop />
        </nav>
        <div class="flex justify-end nav-desktop:hidden p-2 right-0 top-1 text-white relative z-50">
          <Mobile />
        </div>
      </div>
    </Container>
  </div>
  
</header>
