---
import { twMerge } from "tailwind-merge";
const { class: childClass } = Astro.props
---
<div class={twMerge(`min-safe-h-screen flex flex-col items-center justify-center relative`, childClass)}><slot /></div>