---
import { twMerge } from "tailwind-merge";

type Props = {
  leftClass?: string;
  rightClass?: string;
  gridClass?: string;
}

const { leftClass, rightClass, gridClass } = Astro.props
---

<div class={twMerge(`grid grid-cols-12 gap-4 md:gap-8`, gridClass)}>
  <div class={twMerge(`col-span-12 md:col-span-6 xl:col-start-2 order-first space-y-8`, leftClass)}>
    <slot name="left" class="space-y-8" />
  </div>
  <div class={twMerge('col-span-12 md:col-span-5 md:col-start-8 xl:col-span-4 xl:col-start-8 space-y-8', rightClass)}>
    <slot name="right" />
  </div>
</div>