---
import { twMerge } from "tailwind-merge";

type Props = {
  leftClasses?: string;
  rightClasses?: string;
  gridClasses?: string;
}

const { leftClasses, rightClasses, gridClasses } = Astro.props
---

<div class={twMerge(`grid grid-cols-12 gap-8`, gridClasses)}>
  <div class={twMerge(`twcol-span-12 md:col-start-2 md:col-span-10 lg:col-start-2 lg:col-span-5 order-first`, leftClasses)}>
    <slot name="left" />
  </div>
  <div class={twMerge('col-span-12 md:col-start-2 md:col-span-10 lg:col-start-7 lg:col-span-5 xl:col-span-4 xl:col-start-8', rightClasses)}>
    <slot name="right" />
  </div>
</div>