---
import Layout from '@/components/Layout.astro';
import Hero from '@/features/Hero.astro';
import Intro from '@/features/Intro.astro';
import Ramen from '@/features/Ramen.astro';
import MenuSection from '@/features/menu/MenuSection.astro';
---
  <Layout>
    <Hero>
      <h1 class="heading heading-xl">Hero</h1>
    </Hero>
    <Intro />
    <Ramen />
    <MenuSection />
  </Layout>
