---
import Container from '@/components/Container.astro';
import Hero from '@/components/Hero.astro';
import Layout from '@/components/Layout.astro';
import MenuSection from '@/features/menu/MenuSection.astro';

---
  <Layout>
    <Hero>
      <h1 class="heading heading-xl">Hero</h1>
    </Hero>
    <MenuSection />
  </Layout>
