---
import { CartWrapper} from '@/components/Cart/CartWrapper'
---


  <ul class="list-none flex space-x-4 text-sm items-center">
    <!-- {config.nav.map((n) => <li><a href={n.route}>{n.name}</a></li>)} -->
    <li><CartWrapper client:only /></li>
  </ul>