
<div class="tham tham-e-squeeze tham-w-8 nav-desktop:hidden absolute right-6" id="nav-trigger">
  <div class="tham-box">
    <div class="tham-inner bg-white" />
  </div>
</div>

<script src="./mobile-nav.ts" />

