---
import { config } from 'config';
---
<div class="bg-black/80 fixed z-20 h-full opacity-0 w-0" id="nav-mobile-overlay" />
<nav id="nav-mobile" class="nav-desktop:hidden bg-bg-primary fixed right-0 w-2/3 max-w-[300px] z-30 min-safe-h-screen opacity-0 pointer-events-none">
  <ul class="list-none flex flex-col space-y-4 pt-20 px-8">
    {config.nav.map((n) => <li><a href={n.route} class="text-white">{n.name}</a></li>)}
  </ul>
</nav>