---
import { config } from "config";
---

<nav class="hidden nav-desktop:flex">
  <ul class="list-none flex space-x-4">
    {config.nav.map((n) => <li><a href={n.route}>{n.name}</a></li>)}
  </ul>
</nav>